@using MvcKutuphane.Models.Entity
@model List<TBLMesajlar>
@{
    ViewBag.Title = "MesajDetay";
    Layout = "~/Views/Shared/_LayoutPanel.cshtml";
}
<section class="content">
    <div class="row">
        <div class="col-md-3">
            @Html.Action("MesajlarSidebar")
            <!-- /.card -->
        </div>
        <div class="col-md-9">
            
            <div class="card card-primary card-outline">

                <div class="card-header">
                    <h3 class="card-title">Mesaj İçeriği</h3>
                </div>
                @foreach (var item in Model)
                {
                    <!-- /.card-header -->
            <div class="card-body p-0">

                <div class="mailbox-read-info">
                    <h5>@item.Konu</h5>
                    <h6>
                        Gönderen: @item.Gonderen
                        <span class="mailbox-read-time float-right">@Convert.ToDateTime(@item.Tarih).ToString("dd-MMMM-yyyy")</span>
                    </h6>
                </div>            
                <div class="mailbox-read-message">
                    <p>@item.Icerik</p>
                </div>
                <!-- /.mailbox-read-message -->


            </div>
                    <!-- /.card-body -->
                    <!-- /.card-footer -->
                    <div class="card-footer">
                        <a href="/Mesajlar/Sil/@item.ID"  class="btn btn-default"> <i class="far fa-trash-alt"></i> Sil </a>
                    </div>
                }
                <!-- /.card-footer }-->
            </div>
            <!-- /.card -->
            
        </div>
        </div></section>
