@using MvcKutuphane.Models.Entity
@model List<TBLDuyurular>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Layout.cshtml";

}

<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">


<table class="table table-hover">

    <thead>
        <tr>
            <th>ID</th>
            <th>Kategori</th>
            <th>İçerik</th>
            <th>Tarih</th>
            <th>Sil</th>
            <th>Detaylar</th>

        </tr>
    </thead>
    @foreach (var item in Model)
    {
       
        <tbody>
            <tr>
                <td>@item.ID</td>
                <td>@item.kategori</td>
                <td>@item.Icerik</td>
                <td>@Convert.ToDateTime(@item.Tarih).ToString("dd-MMMM-yyyy")</td>
                <td><a href="/Duyurular/DuyuruSil/@item.ID" class="btn btn-danger">Sil</a></td>
                <td><a href="/Duyurular/DuyuruDetay/@item.ID" class="btn btn-success" style="background-color:#ff6a00">Detaylar</a></td>
            </tr>
        </tbody>
    }
</table>

<div class="w3-container">
    <button onclick="document.getElementById('id01').style.display='block'" class="w3-button w3-black">Yeni Duyuru Ekle</button>

    <div id="id01" class="w3-modal">
        <div class="w3-modal-content w3-card-4">
            <header class="w3-container w3-teal">
                <span onclick="document.getElementById('id01').style.display='none'"
                      class="w3-button w3-display-topright">&times;</span>
                <h2>Duyuru Ekleme Ekranı</h2>
            </header>
            <div class="w3-container">
                <form method="post" action="/Duyurular/YeniDuyuruEkle/">
                    <label>Kategori</label>
                    <input type="text" name="kategori" required  maxlength="25" class="form-control" />
                    <label>İçerik</label>
                    <textarea maxlength="400"  required name="Icerik" class="form-control" ></textarea>
                   <input type="hidden" name="Tarih" value="@DateTime.Now" />
                    <br />
                    <button class="btn btn-success" style="background-color:#0b9449">Duyuru Ekle</button>
                <br /><br />
                </form>
            </div>
         
        </div>
    </div>
</div>
