@using MvcKutuphane.Models.Entity
@*@model List<TBLYazar>*@
@using PagedList
@using PagedList.Mvc
@model IPagedList<TBLiletisim>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Layout.cshtml";
}
<div class="row">

    <div class="col-12">
        <h4>İletişim Paneli  Mesajlar</h4>
        <br />
        @foreach (var item in Model)
        {
            <div class="post">
                <div class="user-block">
                    <img class="img-circle img-bordered-sm" src="https://cdn3.iconfinder.com/data/icons/avatars-round-flat/33/man5-512.png" alt="user image">
                    <span class="username">
                        <a href="#">@item.Ad</a>
                    </span>
                    <span class="description">@Convert.ToDateTime(@item.Tarih).ToString("dd-MMMM-yyyy")</span>
                </div>
                <!-- /.user-block -->
                <p>
                    @item.Mesaj
                </p>

                <p>
                    <span class="link-black text-sm"><i class="fas fa-mobile-phone "></i> Konu : @item.Konu</span>
                </p>
            </div>

        }
        @Html.PagedListPager((IPagedList)Model, sayfa => Url.Action("Index", new { sayfa }))


    </div>
</div>